<h1>List</h1>

{% for travel in travels %}
    <dl>
        <dt>travel.id (Achtung: Das ist die <code>tc_date.id</code>)</dt>
        <dd>{{ travel.id }}</dd>
        <dt>travel.price</dt>
        <dd>{{ travel.price|format_currency('EUR') }}</dd>
        <dt>travel.lastUpdate (Letztes Update der Preisdaten)</dt>
        <dd>{{ travel.lastUpdate|date }}</dd>
        <dt>travel.href</dt>
        <dd><a href="{{ travel.href }}">{{ travel.href }}</a></dd>
        <dt>travel.name</dt>
        <dd>{{ travel.name }}</dd>
        <dt>travel.alias</dt>
        <dd>{{ travel.alias }}</dd>
        <dt>travel.title</dt>
        <dd>{{ travel.title }}</dd>
        <dt>travel.subtitle</dt>
        <dd>{{ travel.subtitle }}</dd>
        <dt>travel.code</dt>
        <dd>{{ travel.code }}</dd>
        <dt>travel.departure</dt>
        <dd>{{ travel.departure|date }}</dd>
        <dt>travel.return</dt>
        <dd>{{ travel.return|date }}</dd>
        <dt>travel.isOneDayTrip</dt>
        <dd>{{ dump(travel.isOneDayTrip) }}</dd>
        <dt>travel.description</dt>
        <dd>{{ travel.description|sanitize_html }}</dd>
        <dt>travel.content</dt>
        <dd>{{ travel.content|raw }}</dd>
    </dl>
    {{ dump(travel) }}
{% else %}
    Keine Reisen gefunden.
{% endfor %}